@use "../../styles/_variables" as vars;
$gap: 12px;

.section {
  display: flex;
  padding: 2rem;
  gap: $gap;

  width: 100%;
}

/* Tablet: maintain row layout with wrapping */
@media (max-width: 1024px) {
  .section {
    gap: $gap;
  }
}

/* Mobile: stack vertically */
@media (max-width: 600px) {
  .section {
    flex-direction: column;
    gap: $gap;
  }
}
