@use "sass:map";
@use "../../styles/_variables" as vars;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: map.get(vars.$colors, primary);
  color: map.get(vars.$colors, secondary);
  margin-bottom: 1rem;
  width: 100%;
}

.title {
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.link {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &:focus-visible {
    outline: 2px solid #00000033;
    outline-offset: 2px;
    border-radius: 4px;
  }
}
